@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">

        html, body {
            width: 100%;
            height: 100%;
            background-color: aqua;
            margin: 0%;
        }

        header {
            width: 100%;
            height: 10%;
            background-color: lightgray;
        }

        section {
            height: 80%;
            width: 100%;
        }

        aside {
            width: 19.5%;
            margin: 0.5% 0% 0.5% 0.5%;
            height: 97%;
            float: left;
            background-color: lightgray;
        }

        article {
            width: 79%;
            margin: 0.5%;
            height: 97%;
            float: left;
            background-color: lightgray;
        }

        footer {
            height: 10%;
            background-color: lightgray;
        }
    </style>
</head>
<body>
    <header></header>
    <nav></nav>
    <section>
        <aside></aside>
        <article>
            <div style="text-align:center"><b>Welcome.</b></div>
        </article>
    </section>
    <footer></footer>
</body>
</html>